@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

@import "../Base/mixins.scss";

@font-face {
  font-family: "digitalFont";
  src: url(../Base/DS-DIGIB.TTF);
  font-style: normal;
  font-weight: 100;
}
